// -----------------------------------------------------------------------------
//   Ambient.Impact - UX - Details component
// -----------------------------------------------------------------------------

@use 'sass/variables/motion';

.details-animated {

  position: relative;

  ///
  /// Details element open animation duration in seconds.
  ///
  --details-open-duration: 0.2;

  ///
  /// Details element open animation easing.
  ///
  --details-open-easing: #{motion.$easing-decelerate};

  ///
  /// Details element close animation duration in seconds.
  ///
  --details-close-duration: 0.2;

  ///
  /// Details element close animation easing.
  ///
  --details-close-easing: #{motion.$easing-decelerate};

  // Duration is zero if the user indicates they prefer reduced motion.
  @media (prefers-reduced-motion: reduce) {
    --details-open-duration:  0;
    --details-close-duration: 0;
  }

  // Matches user agent stylesheets.
  > summary:first-of-type {
    list-style-type: disclosure-closed;
  }

  &[open] > summary:first-of-type {
    list-style-type: disclosure-open;
  }

  // This forces the list marker to display as closed when closing but still
  // technically open via the open attribute. This feels more intuitive in
  // response to a user action rather than waiting until the open attribute is
  // removed.
  &--closing[open] > summary:first-of-type {
    list-style-type: disclosure-closed;
  }

  &:not(&--closing) > .details-wrapper {
    position: absolute;
    visibility: hidden;
  }

  &--open[open] > .details-wrapper {
    position: revert;
    visibility: visible;
  }

  &__content-clone {

    position: absolute;

    left:   0;
    right:  0;
    bottom: 0;

    // Needs to be set even if inert so it doesn't block clicks.
    pointer-events: none;

    visibility: hidden;

  }

}
